In [18]:
import pandas as pd

- Scraped 9/11 Memorial and Central Park separately because there were too many missing rows or the attraction name and city were not scraped (most likely due to internet connectivity or computer capacity considering all other attractions were scraped properly)

In [19]:
tripadv_ny_911_cp=pd.read_csv('tripadv_911_cp.csv')
tripadv_ny_911_cp.columns = ['Attraction', 
                   'City', 
                   'Posted', 
                   'Visited', 
                   'User_Reviews', 
                   'User_Helpful', 
                   'Review_Helpful', 
                   'Rating', 
                   'Text', 
                   'Title', 
                   'Username', 
                   'User_Location']

In [20]:
tripadv=pd.read_csv('tripadv_.csv')
tripadv.columns = ['Attraction', 
                   'City', 
                   'Posted', 
                   'Visited', 
                   'User_Reviews', 
                   'User_Helpful',
                   'Review_Helpful', 
                   'Rating', 
                   'Text', 
                   'Title', 
                   'Username', 
                   'User_Location']

In [21]:
tripadv[tripadv['City']=='0'].head()

,Attraction,City,Posted,Visited,User_Reviews,User_Helpful,Review_Helpful,Rating,Text,Title,Username,User_Location
5979,NaN,0,19-Sep,19-Sep,298,25,0,5,Genuinely peaceful and a great break away from...,An Oasis in the middle of the city,Peter D,"Ledbury, United Kingdom"
5981,NaN,0,19-Sep,19-Sep,282,85,1,5,Lovely wander through the park. Little league ...,True New York,Pippasmum_12,"Bournemouth, England, United Kingdom"
5982,NaN,0,19-Sep,19-Sep,635,213,0,5,On a nice day you can't go wrong with a visit ...,lovely,steven_wilkinson,"Bury St. Edmunds, United Kingdom"
5983,NaN,0,19-Sep,19-Sep,189,48,0,5,Don’t know where to start! Central Park is so ...,Best park in the world!!,Sian P,"Southampton, United Kingdom"
5984,NaN,0,19-Sep,19-Sep,2,0,0,5,No park compares to Central Park in NYC ... Yo...,A walk to remember ...,Jozefina,NaN

In [22]:
tripadv=tripadv.drop(tripadv[(tripadv['City']=='0') | (tripadv['Attraction']=='The National 9/11 Memorial & Museum')].index)

In [23]:
# Confirming Removal of ESB and CP from original df

tripadv[(tripadv['City']=='0') | (tripadv['Attraction']=='The National 9/11 Memorial & Museum')].count()

Attraction        0
City              0
Posted            0
Visited           0
User_Reviews      0
User_Helpful      0
Review_Helpful    0
Rating            0
Text              0
Title             0
Username          0
User_Location     0
dtype: int64

In [24]:
# concatenating the 2 dataframes to creat 1 dataframe and confirming number of rows

frames = [tripadv, tripadv_ny_911_cp]
tripadv = pd.concat(frames)
tripadv.shape

(38294, 12)

In [25]:
tripadv.to_csv('tripadvisor.csv', sep = ',', encoding='utf-8', index=False)